<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.paradigmshift.fyp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:name=".Notifications.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="stateVisible|adjustResize">
        <activity android:name=".review.Review_activity" />
        <activity android:name=".Chat.data.call.VideoChatViewActivity" />
        <activity android:name=".dashitems.TutorProfileActivity" />
        <activity android:name=".Chat.data.MainChatActivity" />
        <activity android:name=".Hire.HireActivity" />
        <activity android:name=".Hire.payment.PaymentActivity" />
        <activity android:name=".logreg.RegisterActivity" />
        <activity android:name=".Chat.data.ChatClassesACt.AddGroupActivity" />
        <activity android:name=".Chat.data.ChatClassesACt.ChatActivity" />
        <activity android:name=".dashitems.ProfileActivity" />
        <activity android:name=".viewpager.DashActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".logreg.PWresetActivity" />
        <activity android:name=".logreg.RegistrationActivity" />
        <activity android:name=".logreg.LoginActivity" />
        <activity android:name=".logreg.SplashScrActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".Notifications.AlertReceiver" />
        <receiver android:name=".Notifications.ReviewReceiver" />
    </application>

</manifest>